:root{
    --header-height:60px;
    --alert-icon-img-width:73.8px;
    --alert-icon-img-height:73.8px;
    --understand-width:90%;
    --understand-padding:10px;
    --remind-color: #14a1bd;
    --remind-color-hover: #0e7c92;
}
.alert-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: calc( 100% - var(--header-height));
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
}
.alert-box{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    position: relative;
    height:250px;
    width:300px;
    background-color: white;
    border-radius: 10px;

}
.alert-icon{
    position: absolute;
    left: calc(50% - var(--alert-icon-img-width) / 2 );
    top: calc( var(--alert-icon-img-height) * -1 / 2)
}
.alert-title{
    font-family: Microsoft JhengHei; /* Microsoft YaHei;*/
    font-weight: 600;
    align-self: center;
    margin-top: 50px;
    text-align: center;
    font-size:25px;
}
.alert-describe{
    width:220px;
    font-family: Microsoft JhengHei; /* Microsoft YaHei;*/
    font-weight: 400;
    align-self: center;
    margin-top: 20px;
    text-align: left;
    font-size:20px;
}
.understand{
    width:var(--understand-width);
    font-family: Microsoft JhengHei; /* Microsoft YaHei;*/
    font-weight: 600;
    position: absolute;
    left: calc(50% - var(--understand-width) / 2 );
    bottom: 10px;
    text-align: center;
    color: white;
    padding-top: var(--understand-padding);
    padding-bottom: var(--understand-padding);
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
}
.remind-color{
    background-color: var(--remind-color)
}

.understand.remind-color:hover{
    background-color: var(--remind-color-hover);
}
