
.self-icon{
    display: block !important;
    cursor: pointer;
    transition:.2s;
    margin-bottom: 5px;
    z-index: 10;
}

.icon-active path{
    fill: #000000 !important;
}
.icon-active line{
    stroke: #000000 !important;
}
@media screen and (min-width:401px){
    .self-icon:hover path{
        fill: #000000 !important;
    }
    .analysis:hover line{
        stroke: #000000 !important;
    }
    .self-icon:hover,
    .self-icon.active {
        transform: scale(1.1);
    }
}
@media screen and (max-width:400px){
    .self-icon{
        transform: scale(1.3);
        margin-top: 5px;
        margin-bottom: 5px;
    }
    /* .self-icon:hover {
        transform: scale(1.5);
    } */
}