doctype html
html
    head
        title #{title}
        meta(name="viewport",content="width=device-width, initial-scale=1")
        //- script(type="text/javascript",src="js/test_browerify.js")
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato')
        script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwubdsvqdwPKbJbzlHs0PTLKjdNcqRy8s")
        script(type="text/javascript",src="js/mapTool.js")
        script(type="text/javascript",src="js/ajax.js")
        script(type="text/javascript",src="js/domEvent.js")
        script(type="text/javascript",src="js/createDom.js")
        script(type="text/javascript",src="js/tool/Time.js")
        script(type="text/javascript",src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css",integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u",crossorigin="anonymous")
        link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css",integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp",crossorigin="anonymous")
        script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ,integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" ,crossorigin="anonymous")
        link(rel='stylesheet', href='public/style/layout.css')       
        link(rel='stylesheet', href='public/style/switch.css')
    body
        div(class="container")
            div(class="row")
                div(class="header text-left")
                    p Trip Planning
            div(class="row")
                div(class="col-md-12 col-sm-12 col-xs-12")
                    div(id="map",class="center")
            div(class="row map-control center")
                div(class="col-md-4 col-sm-4 col-xs-4")
                    div(class="row")                        
                        div(class="col-md-4 col-sm-4 col-xs-4")
                            input(type="number",class="form-control",id="circle_km",placeholder="km",value="15")
                        div(class="col-md-4 col-sm-4 col-xs-4")
                            label(class="switch")
                                input(id="circle_gate",type="checkbox")
                                span(class="slider round")
                div(class="col-md-4 col-sm-4 col-xs-4")
                    select(id="icon_color" class="form-control")
                        option(id="green",selected="selected") green
                        option(id="blue") blue
                        option(id="red") red
                        option(id="yellow") yellow
                div(class="col-md-4 col-sm-4 col-xs-4 text-right")
                    //- button(type="button",class="btn btn-default ",id="clearMap") clearMap
                    a(id="clearMap",class="flat-btn btn-b",type="submit") clearMap
            hr(class="divide")
            div(class="row")
                div(class="col-md-6 col-sm-6 col-xs-6")
                    div(class="row console-block center")
                        div(class=" col-xs-12")
                            div(class="row center")
                                //- div(class="col-xs-3 text-center") 
                                //-     h4 query
                                div(class="col-xs-8 text-center") 
                                    textarea(class="form-control",rows="5",id="query_str",placeholder="query")
                                div(class="col-xs-4 text-center")
                                    div(class="row margin-botton")
                                        select(id="query_template" class="form-control")
                                            option(id="query_str_name",selected="selected") name
                                            option(id="query_str_or") or
                                            option(id="query_str_rating") rating
                                    div(class="row")
                                        a(id="show_query_str",class="flat-btn btn-b",type="submit") Show
                                    //- button(type="button",class="btn btn-default",id="show_query_str") show
                div(class="col-md-6 col-sm-6 col-xs-6")
                    div(class="row console-block center  margin-botton")
                        div(class=" col-xs-12")
                            div(class="row center")
                                //- div(class="col-xs-5 text-center") 
                                //-     h4 query_byID
                                div(class="col-xs-8 text-center") 
                                    input(type="text",class="form-control",id="query_byID_str",placeholder="_id")
                                div(class="col-xs-4 text-center")
                                    a(id="show_query_byID_str",class="flat-btn btn-b",type="submit") Show
                                    //- button(type="button",class="btn btn-default",id="show_query_byID_str") show
                    div(class="row console-block center")
                        div(class=" col-xs-12")
                            div(class="row center")
                                div(class="col-xs-8 text-center")
                                    input(type="text",class="form-control margin-botton",id="pair_from_id",placeholder="from_id",value="59e5a89bd63dcb19ac984cff")
                                    input(type="text",class="form-control margin-botton",id="pair_to_id",placeholder="to_id",value="59e5a928d63dcb19ac985abc")
                                div(class="col-xs-4 text-center")
                                    a(id="show_pair",class="flat-btn btn-b",type="submit") Pair
                            div(class="row center")
                                div(class="col-xs-8")
                                    pre(id="pair_console")
            hr
        Script.
            let  maptool = new mapTool();
            maptool.initMap();
            let domevent = new domEvent(maptool);


          



                    
